.img-1 {
    display: flex;
    align-items: center;
    position: absolute;
    pointer-events: none;
    justify-content: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    pointer-events: none;
}

.square-3 {
    width: 90px;
    height: 76px;
    background: linear-gradient(0deg, #b82981 0%, #65e0db 100%);
    border-radius: 10px;
    margin-top: -10px;
    margin-left: 0px;
    transform: rotate(-15deg);
    pointer-events: none;
}

.img-2 {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    transform: translate(-50%, 50%);
    left: 50%;
    top: 50%;
}

.square-1 {
    width: 90px;
    height: 76px;
    background: linear-gradient(0deg, #93e5b0 0%, #65e0db 100%);
    border-radius: 10px;
    margin-top: -40px;
    margin-left: 0px;
    transform: rotate(15deg);
    pointer-events: none;
}

.img-3 {
    position: absolute;
    z-index: -2;
    pointer-events: none;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.square-2 {
    transform: rotate(10deg);
    width: 90px;
    height: 76px;
    background: linear-gradient(90deg, #ffa936 0%, #ff6359 100%);
    border-radius: 10px;
    margin-top: -4px;
    transform: rotate(10deg);
    pointer-events: none;
}