form {
  margin: 100px;
  padding: 5%;
  border-radius: 50px;
  background: #d6d6d7;
  box-shadow: 20px 20px 61px #b6b6b7, 
              -20px -20px 61px #f6f6f7;
}
.input-field {
  position: relative;
  width: 250px;
  height: 44px;
  line-height: 44px;
}
label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
}

.nameInput input {
  border-bottom: 2px solid #d3d3d3;
}

input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  
  box-shadow: none;
  color: #111;
  margin: 2%;
  background: transparent;
}
input:invalid {
  outline: 0;
}
input:focus,
input:valid {
  border-color: cornflowerblue;
}
input:focus ~ label,
input:valid ~ label {
  font-size: 14px;
  top: -24px;
  color: cornflowerblue;
}
